{%- liquid
  assign target = product
  assign price = target.price
  assign compare = target.compare_at_price
  if variant
    assign price = variant.price
    assign compare = variant.compare_at_price
  endif
  if use_variant and target.selected_or_first_available_variant
    assign price = target.selected_or_first_available_variant.price
    assign compare = target.selected_or_first_available_variant.compare_at_price
  endif
-%}
<span class="m-price{% if compare > price %} is-sale{% endif %}">
  <span class="m-price-current">{{ price | money }}</span>
  {%- if compare > price -%}
    <span class="m-price-compare">{{ compare | money }}</span>
  {%- endif -%}
</span>
