{%- liquid
  assign rating_value = rating | default: 4.5
  assign rating_label = rating_value | append: '/5'
-%}

<span class="rating" aria-label="{{ rating_label }}">
  <span class="rating__stars">
    {%- for index in (1..5) -%}
      <span class="rating__star{% if index <= rating_value %} is-filled{% endif %}">
        {% render 'icon', icon: 'star' %}
      </span>
    {%- endfor -%}
  </span>
  {%- if show_text -%}
    <span class="rating__text">{{ rating_label }}</span>
  {%- endif -%}
</span>
